fem-dt-stokes-test-build-desktop-Qt_4_8_3_in_PATH__System__Release/
fem-dt-stokes-test/fem-dt-stokes-test.pro.user
norm-parser-build-desktop-Qt_4_8_3_in_PATH__System__Release/
norm-parser/norm-parser.pro.user
report/fem-dt-stokes-test.aux
report/fem-dt-stokes-test.log
report/fem-dt-stokes-test.pdf
report/fem-dt-stokes-test.synctex.gz
report/pics/oscilate.avi
